Repository aygp-dr/gemini-repl: changes, and which pre-commit hooks are due for each by the changed paths.
All: clojurescript-test, clojurescript-lint, shell-lint

clojurescript-test:
  name: ClojureScript Tests
  entry: gmake test-cljs
  language: system
  pass_filenames: false

clojurescript-lint:
  name: ClojureScript Linting
  entry: gmake lint-cljs
  language: system
  pass_filenames: false

shell-lint:
  name: Shell Script Linting
  entry: gmake lint-shell
  language: system
  pass_filenames: false

docs: update README with current features and future experimentation platform
  README.org
  scripts/release.sh
Due: shell-lint

fix(lint): resolve shellcheck warning in release script
  scripts/release.sh
Due: shell-lint

fix(ui): implement compact single-line metadata display
  scripts/sanity-check.exp
  src/gemini_repl/core.cljs
  test/gemini_repl/core_test.cljs
Due: clojurescript-test, clojurescript-lint

docs: add UI example screenshot to README
  README.org
Due: none

feat: add conversation context to enable multi-turn dialogues
  manual-test.md
  scripts/sanity-check.exp
  src/gemini_repl/core.cljs
  test-context.exp
Due: clojurescript-test, clojurescript-lint

feat: add AI context resurrection system
  .ai/README.md
  .ai/context-eval.json
  .ai/context.org
  .ai/resurrection-prompt.md
  .ai/session-snapshot.json
Due: none

fix(release): run pre-check before version bump to prevent dirty state
  Makefile
Due: none

chore(release): bump version to 0.2.0
  package-lock.json
  package.json
Due: none

docs: clean up README to focus on current functionality
  README.org
Due: none

fix(release): skip interactive REPL test during release build
  Makefile
Due: none

chore: update gitignore and session context for resurrection
  .ai/session-snapshot.json
  .gitignore
Due: none

fix(build): remove explicit shadow-cljs dependencies to eliminate warnings
  research/telemetry/README.org
  research/telemetry/sources.org
  shadow-cljs.edn
Due: none

docs(prompts): add initial comprehensive PROMPTS.org documentation
  PROMPTS.org
Due: none

docs(prompts): rebuild as from-scratch iterative development template
  PROMPTS.org
Due: none

chore: remove obsolete manual context test file
  manual-test.md
Due: none

docs(prompts): add GEMINI-REPL-PROMPTS.org for exact repo reproduction
  GEMINI-REPL-PROMPTS.org
Due: none

docs(prompts): expand GEMINI-REPL-PROMPTS.org with complete git notes extraction
  GEMINI-REPL-PROMPTS.org
Due: none

docs(methodology): update GEMINI-REPL-PROMPTS.org with testing protocol
  GEMINI-REPL-PROMPTS.org
Due: none

docs(v2): add v2 preparation prompts and methodology confirmation
  GEMINI-REPL-PROMPTS.org
Due: none

fix(tests): resolve REPL interactive test failures
  scripts/test-repl.exp
  src/gemini_repl/core.cljs
Due: clojurescript-test, clojurescript-lint

docs(alignment): fix documentation inconsistencies and remove redundant scripts
  README.org
  scripts/build.sh
  scripts/dev.sh
Due: shell-lint

feat(dev): add Emacs/tmux integration for Clojure development
  .envrc
  .gitignore
  Makefile
Due: none

Notes added by 'git notes add'
  0f783299f814d1739fe6c6da63c2fc037edabb6b
Due: none

build: adopt deps.edn + bb tasks (aygp-dr clojure standard v1)
  .clj-kondo/config.edn
  .cljfmt.edn
  .gitignore
  Makefile
  bb.edn
  deps.edn
  dev/user.cljs
  shadow-cljs.edn
Due: clojurescript-test, clojurescript-lint

style: apply cljfmt
  src/gemini_repl/core.cljs
  test/gemini_repl/core_test.cljs
Due: clojurescript-test, clojurescript-lint

spec: add clojure.spec data specs, fdefs, generative tests
  src/gemini_repl/core.cljs
  src/gemini_repl/specs.cljs
  test/gemini_repl/core_test.cljs
  test/gemini_repl/specs_test.cljs
Due: clojurescript-test, clojurescript-lint

ci: run bb check on push and PR
  .github/workflows/ci.yml
  .github/workflows/clojurescript-ci.yml
Due: none

docs: document bb tasks and spec usage
  README.org
Due: none

ci: least-privilege GITHUB_TOKEN, pin setup-clojure by SHA
  .github/workflows/ci.yml
Due: none

chore: remove obsolete install-clj-kondo (kondo now runs via clojure -M:lint)
  install-clj-kondo
Due: none

Path conditions:
  clojurescript-test: any of: \.(cljs|cljc)$
  clojurescript-lint: any of: \.(cljs|cljc)$
  shell-lint: any of: \.sh$
